{% extends 'base.html' %}
{% block title %}Impressum – Luviq-Shop{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="card border-light shadow-sm p-4 p-md-5">
      <h1 class="fw-bold mb-4">Impressum</h1>
      
      <h5 class="fw-bold">Angaben gemäß § 5 TMG</h5>
      <p>
        Bastian Scherzinger<br>
        Musterstraße 123<br>
        12345 Musterstadt
      </p>

      <h5 class="fw-bold">Kontakt</h5>
      <p>
        Telefon: +49 (0) 123 456789<br>
        E-Mail: info@meinshop.de
      </p>

      <h5 class="fw-bold">Umsatzsteuer-ID</h5>
      <p>
        Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br>
        DE 999 999 999
      </p>

      <h5 class="fw-bold">EU-Streitschlichtung</h5>
      <p>
        Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: 
        <a href="https://ec.europa.eu/consumers/odr/" target="_blank">https://ec.europa.eu/consumers/odr/</a>.<br>
        Unsere E-Mail-Adresse finden Sie oben im Impressum.
      </p>

      <h5 class="fw-bold">Verbraucherstreitbeilegung/Universalschlichtungsstelle</h5>
      <p>
        Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
      </p>
    </div>
  </div>
</div>
{% endblock %}
